@using System.Text.RegularExpressions;
@page "/personsPage"
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<div class="container-fluid">
    <div class="row was-validated">
        <div class="col-3 custom-control">
            <label for="fname">Имя</label>
            <input class="form-control" type="text" id="fname" placeholder="Имя" @bind="firstName" required />
            <div class="valid-feedback">
                Отлично!
            </div>
            <div class="invalid-feedback">
                Заполните поле!
            </div>

        </div>
        <div class="col-3 custom-control">
            <label for="sname">Фамилия</label>
            <input class="form-control" type="text" placeholder="Фамилия" id="sname" @bind="secondName" required />
            <div class="valid-feedback">
                Отлично!
            </div>
            <div class="invalid-feedback">
                Заполните поле!
            </div>
        </div>
        <div class="col-3 custom-control">
            <label for="ename">Email</label>
            <input class="form-control" type="email" placeholder="Email" id="ename" pattern=".+.com" @bind="email" required />
            <div class="valid-feedback">
                Отлично!
            </div>
            <div class="invalid-feedback">
                Заполните поле!
            </div>
        </div>
        <div class="col-3">
            <label for="pname">Пароль</label>
            <input class="form-control" type="password" placeholder="Password" pattern="[A-Za-z-0-9]{6,}" id="pname" @bind="pmail" required />
            <div class="valid-feedback">
                Отлично!
            </div>
            <div class="invalid-feedback">
                Заполните поле!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary" @onclick="AddPerson">Добавить</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Person item in context.Persons)
                    {
                        <tr @onclick="(()=>Href(item.ID))">
                            <td>
                                @item.ID
                            </td>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.SecondName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private MySqlDbContext context = new MySqlDbContext();//создание экзеипляра контекста
    //забинденные переменные
    private string firstName;
    private string secondName;
    private string email;
    private string pmail;

    //валидация эмайла
    private bool IsValidEmail(string emaill)
    {
        string pattern = @"^(?!\.)(""([^""\r\\]|\\[""\r\\])*""|" + @"([-a-z0-9!#$%&'*+/=?^_`{|}~]|(?<!\.)\.)*)(?<!\.)" + @"@[a-z0-9][\w\.-]*[a-z0-9]\.[a-z][a-z\.]*[a-z]$";
        var regex = new Regex(pattern, RegexOptions.IgnoreCase);
        return regex.IsMatch(emaill);
    }

    
    private void Href(int profilid)
    {
        navigationManager.NavigateTo($"/personsPage/{profilid}");
    }

    //добавление записи в бд с "условной валидацией" (надо будет переделать на менее костыльный)
    private void AddPerson()
    {
        if (!string.IsNullOrWhiteSpace(firstName) && !string.IsNullOrWhiteSpace(secondName) && !string.IsNullOrWhiteSpace(email) && !string.IsNullOrWhiteSpace(pmail))
        {
            if (pmail.Length >= 6 && IsValidEmail(email))
            {
                Person person = new Person
                {
                    FirstName = firstName,
                    SecondName = secondName,
                    Email = email,
                    Password = pmail
                };
                context.Persons.Add(person);
                context.SaveChanges();
            }
        }
    }
}
